.module1 .box {
  font-size: 14px;
  color: blue;
}
.module1 .tips {
  font-size: 14px;
  color: #ffffff;
}
.module2 .wrap {
  font-size: 14px;
  color: blue;
}
.module2 .item {
  font-size: 14px;
  color: #6666ff;
}
